// These variables can be overriden per theme.

:root{
  --primary: $primary;
  --link: $link;
  --info: $info;
}

$primary: #10B5B2;
$link: #10B5B2;
$info: #5b5cf2;
$dark: $grey-darker;
$light: #eee;
