
$bulma-ajax-offset: 187;
$bulma-ajax-duration: 1.4s;
.bulma-ajax-fullscreen{
  height:100%;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(white, .5);
  z-index: 99999999999;
  .spinner {
    animation: rotator $bulma-ajax-duration linear infinite;
  }
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $bulma-ajax-offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
          dash $bulma-ajax-duration ease-in-out infinite,
          colors ($bulma-ajax-duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: #4285F4; }
  25% { stroke: #DE3E35; }
  50% { stroke: #F7C223; }
  75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
  0% { stroke-dashoffset: $bulma-ajax-offset; }
  50% {
    stroke-dashoffset: $bulma-ajax-offset/4;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: $bulma-ajax-offset;
    transform:rotate(450deg);
  }
}
