{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% set classes = [
  'breadcrumb'
] %}
{% if breadcrumb %}
  <nav{{ attributes.addClass(classes) }}>
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ul>
      {% for key,item in breadcrumb %}
        <li>
          {% if key == 0 %}
            <a href="{{ item.url }}"><span class="icon"><i class="fas fa-home"></i></span><span>Home</span></a>
          {% else %}
            {% if item.url %}
              <a href="{{ item.url }}">{{ item.text }}</a>
            {% else %}
              <a href="#main-content">{{ item.text }}</a>
            {% endif %}
          {% endif %}
          {#
          {% if breadcrumb|length != key + 1 %}
            <span class="icon separator">
              <i class="fas fa-chevron-right"></i>
            </span>
            {% endif %}
          #}
        </li>

      {% endfor %}
    </ul>
  </nav>
{% endif %}
