{% if links -%}
  <div class="navbar-item has-dropdown is-hoverable">
    <a href="#" class="navbar-link">
      <span class="icon"><i class="fas fa-globe"></i></span><span>{{ current_language }}</span>
    </a>
    <div class="navbar-dropdown" aria-labelledby="language-selector">
    {%- for item in links -%}
      <div{{ item.attributes.addClass('navbar-item') }}>
        {%- if item.link -%}
          {{ item.link }}
        {%- elseif item.text_attributes -%}
          <span{{ item.text_attributes }}>{{ item.text }}</span>
        {%- else -%}
          {{ item.text }}
        {%- endif -%}
      </div>
    {%- endfor -%}
    </div>
  </div>
{%- endif %}
