{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{%
  set classes = [
    'tabs',
  ]
%}
<div class="tabs-wrapper">
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <div class="tabs">
    <ul class="primary">{{ primary }}</ul>
  </div>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <div class="tabs is-small">
    <ul class="secondary">{{ secondary }}</ul>
  </div>
{% endif %}
</div>
