
{% set item_classes = (link_classes ?? [])|merge([
  item.in_active_trail ? 'is-active',
]) %}

{% set title = item.title %}
{% set options = item.url.options %}
{% set title = item.title %}
{% if options.icon.enabled %}
  {% if options.icon.position == 'before' %}
    {% set title = '<span class="icon">'~ options.icon.html ~ '</span><span>'~title ~ '</span>' %}
  {% else %}
    {% set title = '<span>'~title ~ '</span><span class="icon">'~ options.icon.html ~ '</span>' %}
  {% endif %}
{% endif %}
{% set item_classes = item_classes|merge([
  'navbar-item',
  options.styling.button ? 'button' : '',
]) %}
{% if options.styling.button %}
  {% for key, styling_option in options.styling.options %}
    {% set item_classes = item_classes|merge([
      styling_option
    ]) %}
  {% endfor %}
{% endif %}
{% if options.styling.color %}
  {% set item_classes = item_classes|merge([
    options.styling.color
  ]) %}
{% endif %}
{{ link(
  title|safe,
  item.url,
  item.attributes.addClass(item_classes)
) }}
