<header role="banner">
  {{ page.header }}
</header>
<main role="main">
  <div class="container">
    {{ page.content_above }}
  </div>
  <a id="main-content" tabindex="-1"></a>
  {% if node and node.type.entity.id() == 'page' %}
    {{ page.content }}
  {% else %}
    <div class="container">
      {{ page.content }}
    </div>
  {% endif %}
  <div class="container">
    {{ page.content_below }}
  </div>
</main>
<footer role="contentinfo">
  {{ page.footer_top }}
  {{ page.footer_bottom }}
</footer>
{% if page.offset %}
  <div class="offset">
    {{ page.offset }}
  </div>
{% endif %}
