{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <section class="section branding">
    <div class="navbar" role="navigation" aria-label="user-navigation">
      <div class="container">
        <div class="navbar-brand">
          {{ elements.bulma_site_branding }}

        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            {{ elements.bulma_account_menu }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section main-menu">
    <div class="container">
      <div class="navbar" role="navigation" aria-label="main-navigation">
        <div class="navbar-start">
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
             data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
          {{ elements.bulma_main_menu }}
        </div>
        <div class="navbar-end">
          {{ elements.bulma_language_switcher }}
        </div>
      </div>
    </div>
  </section>
{% endif %}
