{% if notices|length == 1 %}
  <div class="message is-success">
    <div class="message-body">
      {{ notices|first }}
    </div>
  </div>
{% elseif notices|length > 1 %}
  <div class="message is-success">
    <div class="message-body">
      <ul>
        {% for notice in notices %}
          <li>{{ notice }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if warnings|length == 1 %}
  <div class="message is-warning">
    <div class="message-body">
      {{ warnings|first }}
    </div>
  </div>
{% elseif warnings|length > 1 %}
  <div class="message is-warning">
    <div class="message-body">
      <ul>
        {% for warning in warnings %}
          <li>{{ warning }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if errors|length == 1 %}
  <div class="message is-danger">
    <div class="message-body">
      {{ errors|first }}
    </div>
  </div>
{% elseif errors|length > 1 %}
  <div class="message is-danger">
    <div class="message-body">
      <ul>
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
