{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
{% for type, messages in message_list %}
{% set classes = [] %}
  {% set classes = [
    'message',
    type == 'status' ? 'is-success' : '',
    type == 'warning' ? 'is-warning' : '',
    type == 'error' ? 'is-danger': ''
  ] %}
<div {{ attributes.addClass('messages')}}>
  <div role="contentinfo" aria-label="{{ status_headings[type] }}" class="{{ classes|join(' ') }}"}}>
    <div class="message-body">
      {% if status_headings[type] %}
        <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
      {% endif %}
      {% if messages|length > 1 %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ messages|first }}
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
