<div class="navbar-item">
  <nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes|without('role', 'aria-labelledby') }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
      {{ content }}
    {% endblock %}
  </nav>
</div>
