#bulma-toolkit-bulma-variables {
  details {
    border: 2px solid white;
    margin-bottom:2rem;
    border-radius: $radius;
    summary {
      border-radius: $radius $radius 0 0;
      padding: .5rem;
      background: white;
    }

    .form-item {
      margin: 1rem;
      font-size: $size-7;

      &.js-form-type-select,
      &.js-form-type-color,
      &.js-form-type-range{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
