$offset_width : 20rem;
body > * > .offset{
  position:fixed;
  right:0;
  top:0;
  width: $offset_width;
  height:100%;
  padding:2rem;
  background: $white-ter;
  overflow: auto;
}

body.is-offset-active{
  width: calc(100% - #{$offset_width});
  &.toolbar-vertical.toolbar-tray-open{
    width: calc(100% - #{$offset_width} - 15rem);
  }
}
