a {
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-ghost {
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-ghost:hover,
.button.is-ghost.is-hovered {
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-light {
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-light:hover,
.button.is-light.is-hovered {
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-light:focus,
.button.is-light.is-focused {
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-light:active,
.button.is-light.is-active {
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-light[disabled],
fieldset[disabled] .button.is-light {
  background-color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-light.is-inverted {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-light.is-inverted:hover,
.button.is-light.is-inverted.is-hovered {
  background-color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-light.is-inverted[disabled],
fieldset[disabled] .button.is-light.is-inverted {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-light.is-outlined {
  border-color: rgb(245, 245, 245);
  color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-light.is-outlined:hover,
.button.is-light.is-outlined.is-hovered,
.button.is-light.is-outlined:focus,
.button.is-light.is-outlined.is-focused {
  background-color: rgb(245, 245, 245);
  border-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-light.is-outlined[disabled],
fieldset[disabled] .button.is-light.is-outlined {
  border-color: rgb(245, 245, 245);
  color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-light.is-inverted.is-outlined {
  border-color: rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-light.is-inverted.is-outlined:hover,
.button.is-light.is-inverted.is-outlined.is-hovered,
.button.is-light.is-inverted.is-outlined:focus,
.button.is-light.is-inverted.is-outlined.is-focused {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-light.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-light.is-inverted.is-outlined {
  border-color: rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-dark {
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-dark:hover,
.button.is-dark.is-hovered {
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-dark:focus,
.button.is-dark.is-focused {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-dark:active,
.button.is-dark.is-active {
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-dark[disabled],
fieldset[disabled] .button.is-dark {
  background-color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-dark.is-inverted {
  background-color: rgb(255, 255, 255);
  color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-dark.is-inverted:hover,
.button.is-dark.is-inverted.is-hovered {
  background-color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-dark.is-inverted[disabled],
fieldset[disabled] .button.is-dark.is-inverted {
  background-color: rgb(255, 255, 255);
  color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-dark.is-outlined {
  border-color: rgb(54, 54, 54);
  color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-dark.is-outlined:hover,
.button.is-dark.is-outlined.is-hovered,
.button.is-dark.is-outlined:focus,
.button.is-dark.is-outlined.is-focused {
  background-color: rgb(54, 54, 54);
  border-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-dark.is-outlined[disabled],
fieldset[disabled] .button.is-dark.is-outlined {
  border-color: rgb(54, 54, 54);
  color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-dark.is-inverted.is-outlined {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-dark.is-inverted.is-outlined:hover,
.button.is-dark.is-inverted.is-outlined.is-hovered,
.button.is-dark.is-inverted.is-outlined:focus,
.button.is-dark.is-inverted.is-outlined.is-focused {
  background-color: rgb(255, 255, 255);
  color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-dark.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-dark.is-inverted.is-outlined {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary:hover,
.button.is-primary.is-hovered {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary:focus,
.button.is-primary.is-focused {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary:active,
.button.is-primary.is-active {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary[disabled],
fieldset[disabled] .button.is-primary {
  background-color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-inverted {
  background-color: rgb(255, 255, 255);
  color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-inverted:hover,
.button.is-primary.is-inverted.is-hovered {
  background-color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-inverted[disabled],
fieldset[disabled] .button.is-primary.is-inverted {
  background-color: rgb(255, 255, 255);
  color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-outlined {
  border-color: rgb(82, 185, 200);
  color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-outlined:hover,
.button.is-primary.is-outlined.is-hovered,
.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined.is-focused {
  background-color: rgb(82, 185, 200);
  border-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-outlined[disabled],
fieldset[disabled] .button.is-primary.is-outlined {
  border-color: rgb(82, 185, 200);
  color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-inverted.is-outlined {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-inverted.is-outlined:hover,
.button.is-primary.is-inverted.is-outlined.is-hovered,
.button.is-primary.is-inverted.is-outlined:focus,
.button.is-primary.is-inverted.is-outlined.is-focused {
  background-color: rgb(255, 255, 255);
  color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-primary.is-inverted.is-outlined {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-light {
  background-color: rgb(240, 249, 250);
  color: rgb(39, 113, 124);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-light:hover,
.button.is-primary.is-light.is-hovered {
  background-color: rgb(240, 249, 250);
  color: rgb(39, 113, 124);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-light:active,
.button.is-primary.is-light.is-active {
  background-color: rgb(240, 249, 250);
  color: rgb(39, 113, 124);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link:hover,
.button.is-link.is-hovered {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link:focus,
.button.is-link.is-focused {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link:active,
.button.is-link.is-active {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link[disabled],
fieldset[disabled] .button.is-link {
  background-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link.is-inverted {
  background-color: rgb(255, 255, 255);
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link.is-inverted:hover,
.button.is-link.is-inverted.is-hovered {
  background-color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link.is-inverted[disabled],
fieldset[disabled] .button.is-link.is-inverted {
  background-color: rgb(255, 255, 255);
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link.is-outlined {
  border-color: rgb(219, 53, 163);
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link.is-outlined:hover,
.button.is-link.is-outlined.is-hovered,
.button.is-link.is-outlined:focus,
.button.is-link.is-outlined.is-focused {
  background-color: rgb(219, 53, 163);
  border-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link.is-outlined[disabled],
fieldset[disabled] .button.is-link.is-outlined {
  border-color: rgb(219, 53, 163);
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link.is-inverted.is-outlined {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link.is-inverted.is-outlined:hover,
.button.is-link.is-inverted.is-outlined.is-hovered,
.button.is-link.is-inverted.is-outlined:focus,
.button.is-link.is-inverted.is-outlined.is-focused {
  background-color: rgb(255, 255, 255);
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-link.is-inverted.is-outlined {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link.is-light {
  background-color: rgb(252, 238, 247);
  color: rgb(195, 35, 141);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link.is-light:hover,
.button.is-link.is-light.is-hovered {
  background-color: rgb(252, 238, 247);
  color: rgb(195, 35, 141);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-link.is-light:active,
.button.is-link.is-light.is-active {
  background-color: rgb(252, 238, 247);
  color: rgb(195, 35, 141);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info:hover,
.button.is-info.is-hovered {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info:focus,
.button.is-info.is-focused {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info:active,
.button.is-info.is-active {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info[disabled],
fieldset[disabled] .button.is-info {
  background-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info.is-inverted {
  background-color: rgb(255, 255, 255);
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info.is-inverted:hover,
.button.is-info.is-inverted.is-hovered {
  background-color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info.is-inverted[disabled],
fieldset[disabled] .button.is-info.is-inverted {
  background-color: rgb(255, 255, 255);
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info.is-outlined {
  border-color: rgb(219, 53, 163);
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info.is-outlined:hover,
.button.is-info.is-outlined.is-hovered,
.button.is-info.is-outlined:focus,
.button.is-info.is-outlined.is-focused {
  background-color: rgb(219, 53, 163);
  border-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info.is-outlined[disabled],
fieldset[disabled] .button.is-info.is-outlined {
  border-color: rgb(219, 53, 163);
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info.is-inverted.is-outlined {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info.is-inverted.is-outlined:hover,
.button.is-info.is-inverted.is-outlined.is-hovered,
.button.is-info.is-inverted.is-outlined:focus,
.button.is-info.is-inverted.is-outlined.is-focused {
  background-color: rgb(255, 255, 255);
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-info.is-inverted.is-outlined {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info.is-light {
  background-color: rgb(252, 238, 247);
  color: rgb(195, 35, 141);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info.is-light:hover,
.button.is-info.is-light.is-hovered {
  background-color: rgb(252, 238, 247);
  color: rgb(195, 35, 141);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-info.is-light:active,
.button.is-info.is-light.is-active {
  background-color: rgb(252, 238, 247);
  color: rgb(195, 35, 141);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.notification.is-light {
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.notification.is-dark {
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.notification.is-primary {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.notification.is-primary.is-light {
  background-color: rgb(240, 249, 250);
  color: rgb(39, 113, 124);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.notification.is-link {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.notification.is-link.is-light {
  background-color: rgb(252, 238, 247);
  color: rgb(195, 35, 141);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.notification.is-info {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.notification.is-info.is-light {
  background-color: rgb(252, 238, 247);
  color: rgb(195, 35, 141);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-light::-webkit-progress-value {
  background-color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-light::-moz-progress-bar {
  background-color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-light::-ms-fill {
  background-color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-dark::-webkit-progress-value {
  background-color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-dark::-moz-progress-bar {
  background-color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-dark::-ms-fill {
  background-color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-primary::-webkit-progress-value {
  background-color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-primary::-moz-progress-bar {
  background-color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-primary::-ms-fill {
  background-color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-link::-webkit-progress-value {
  background-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-link::-moz-progress-bar {
  background-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-link::-ms-fill {
  background-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-info::-webkit-progress-value {
  background-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-info::-moz-progress-bar {
  background-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-info::-ms-fill {
  background-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table td.is-light,
.table th.is-light {
  background-color: rgb(245, 245, 245);
  border-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table td.is-dark,
.table th.is-dark {
  background-color: rgb(54, 54, 54);
  border-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table td.is-primary,
.table th.is-primary {
  background-color: rgb(82, 185, 200);
  border-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table td.is-link,
.table th.is-link {
  background-color: rgb(219, 53, 163);
  border-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table td.is-info,
.table th.is-info {
  background-color: rgb(219, 53, 163);
  border-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table td.is-selected,
.table th.is-selected {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table tr.is-selected {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table tr.is-selected td,
.table tr.is-selected th {
  border-color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tag:not(body).is-light {
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tag:not(body).is-dark {
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tag:not(body).is-primary {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tag:not(body).is-primary.is-light {
  background-color: rgb(240, 249, 250);
  color: rgb(39, 113, 124);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tag:not(body).is-link {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tag:not(body).is-link.is-light {
  background-color: rgb(252, 238, 247);
  color: rgb(195, 35, 141);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tag:not(body).is-info {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tag:not(body).is-info.is-light {
  background-color: rgb(252, 238, 247);
  color: rgb(195, 35, 141);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select select:focus,
.textarea:focus,
.input:focus,
.select select.is-focused,
.is-focused.textarea,
.is-focused.input,
.select select:active,
.textarea:active,
.input:active,
.select select.is-active,
.is-active.textarea,
.is-active.input {
  border-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.is-light.textarea,
.is-light.input {
  border-color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.is-dark.textarea,
.is-dark.input {
  border-color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.is-primary.textarea,
.is-primary.input {
  border-color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.is-link.textarea,
.is-link.input {
  border-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.is-info.textarea,
.is-info.input {
  border-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-light:not(:hover)::after {
  border-color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-light select {
  border-color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-light select:hover,
.select.is-light select.is-hovered {
  border-color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-dark:not(:hover)::after {
  border-color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-dark select {
  border-color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-dark select:hover,
.select.is-dark select.is-hovered {
  border-color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-primary:not(:hover)::after {
  border-color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-primary select {
  border-color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-primary select:hover,
.select.is-primary select.is-hovered {
  border-color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-link:not(:hover)::after {
  border-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-link select {
  border-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-link select:hover,
.select.is-link select.is-hovered {
  border-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-info:not(:hover)::after {
  border-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-info select {
  border-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-info select:hover,
.select.is-info select.is-hovered {
  border-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-light .file-cta {
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-light:hover .file-cta,
.file.is-light.is-hovered .file-cta {
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-light:focus .file-cta,
.file.is-light.is-focused .file-cta {
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-light:active .file-cta,
.file.is-light.is-active .file-cta {
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-dark .file-cta {
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-dark:hover .file-cta,
.file.is-dark.is-hovered .file-cta {
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-dark:focus .file-cta,
.file.is-dark.is-focused .file-cta {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-dark:active .file-cta,
.file.is-dark.is-active .file-cta {
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-primary .file-cta {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-primary:hover .file-cta,
.file.is-primary.is-hovered .file-cta {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-primary:focus .file-cta,
.file.is-primary.is-focused .file-cta {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-primary:active .file-cta,
.file.is-primary.is-active .file-cta {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-link .file-cta {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-link:hover .file-cta,
.file.is-link.is-hovered .file-cta {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-link:focus .file-cta,
.file.is-link.is-focused .file-cta {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-link:active .file-cta,
.file.is-link.is-active .file-cta {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-info .file-cta {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-info:hover .file-cta,
.file.is-info.is-hovered .file-cta {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-info:focus .file-cta,
.file.is-info.is-focused .file-cta {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-info:active .file-cta,
.file.is-info.is-active .file-cta {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.help.is-light {
  color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.help.is-dark {
  color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.help.is-primary {
  color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.help.is-link {
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.help.is-info {
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.breadcrumb a {
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

a.dropdown-item.is-active,
button.dropdown-item.is-active {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.menu-list a.is-active {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-light {
  background-color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-light .message-header {
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-light .message-body {
  border-color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-dark {
  background-color: rgb(74, 74, 74);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-dark .message-header {
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-dark .message-body {
  border-color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-primary {
  background-color: rgb(240, 249, 250);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-primary .message-header {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-primary .message-body {
  border-color: rgb(82, 185, 200);
  color: rgb(39, 113, 124);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-link {
  background-color: rgb(252, 238, 247);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-link .message-header {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-link .message-body {
  border-color: rgb(219, 53, 163);
  color: rgb(195, 35, 141);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-info {
  background-color: rgb(252, 238, 247);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-info .message-header {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-info .message-body {
  border-color: rgb(219, 53, 163);
  color: rgb(195, 35, 141);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-light {
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-light .navbar-brand > .navbar-item,
.navbar.is-light .navbar-brand .navbar-link {
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-light .navbar-brand > a.navbar-item:focus,
.navbar.is-light .navbar-brand > a.navbar-item:hover,
.navbar.is-light .navbar-brand > a.navbar-item.is-active,
.navbar.is-light .navbar-brand .navbar-link:focus,
.navbar.is-light .navbar-brand .navbar-link:hover,
.navbar.is-light .navbar-brand .navbar-link.is-active {
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-light .navbar-brand .navbar-link::after {
  border-color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-light .navbar-burger {
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

@media screen and (min-width: 1024px) {
  .navbar.is-light .navbar-start > .navbar-item,
  .navbar.is-light .navbar-start .navbar-link,
  .navbar.is-light .navbar-end > .navbar-item,
  .navbar.is-light .navbar-end .navbar-link {
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-light .navbar-start > a.navbar-item:focus,
  .navbar.is-light .navbar-start > a.navbar-item:hover,
  .navbar.is-light .navbar-start > a.navbar-item.is-active,
  .navbar.is-light .navbar-start .navbar-link:focus,
  .navbar.is-light .navbar-start .navbar-link:hover,
  .navbar.is-light .navbar-start .navbar-link.is-active,
  .navbar.is-light .navbar-end > a.navbar-item:focus,
  .navbar.is-light .navbar-end > a.navbar-item:hover,
  .navbar.is-light .navbar-end > a.navbar-item.is-active,
  .navbar.is-light .navbar-end .navbar-link:focus,
  .navbar.is-light .navbar-end .navbar-link:hover,
  .navbar.is-light .navbar-end .navbar-link.is-active {
    background-color: rgb(245, 245, 245);
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-light .navbar-start .navbar-link::after,
  .navbar.is-light .navbar-end .navbar-link::after {
    border-color: rgba(0, 0, 0, 0.7);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-light .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-light .navbar-item.has-dropdown:hover .navbar-link,
  .navbar.is-light .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgb(245, 245, 245);
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-light .navbar-dropdown a.navbar-item.is-active {
    background-color: rgb(245, 245, 245);
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

.navbar.is-dark {
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-dark .navbar-brand > .navbar-item,
.navbar.is-dark .navbar-brand .navbar-link {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-dark .navbar-brand > a.navbar-item:focus,
.navbar.is-dark .navbar-brand > a.navbar-item:hover,
.navbar.is-dark .navbar-brand > a.navbar-item.is-active,
.navbar.is-dark .navbar-brand .navbar-link:focus,
.navbar.is-dark .navbar-brand .navbar-link:hover,
.navbar.is-dark .navbar-brand .navbar-link.is-active {
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-dark .navbar-brand .navbar-link::after {
  border-color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-dark .navbar-burger {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

@media screen and (min-width: 1024px) {
  .navbar.is-dark .navbar-start > .navbar-item,
  .navbar.is-dark .navbar-start .navbar-link,
  .navbar.is-dark .navbar-end > .navbar-item,
  .navbar.is-dark .navbar-end .navbar-link {
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-dark .navbar-start > a.navbar-item:focus,
  .navbar.is-dark .navbar-start > a.navbar-item:hover,
  .navbar.is-dark .navbar-start > a.navbar-item.is-active,
  .navbar.is-dark .navbar-start .navbar-link:focus,
  .navbar.is-dark .navbar-start .navbar-link:hover,
  .navbar.is-dark .navbar-start .navbar-link.is-active,
  .navbar.is-dark .navbar-end > a.navbar-item:focus,
  .navbar.is-dark .navbar-end > a.navbar-item:hover,
  .navbar.is-dark .navbar-end > a.navbar-item.is-active,
  .navbar.is-dark .navbar-end .navbar-link:focus,
  .navbar.is-dark .navbar-end .navbar-link:hover,
  .navbar.is-dark .navbar-end .navbar-link.is-active {
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-dark .navbar-start .navbar-link::after,
  .navbar.is-dark .navbar-end .navbar-link::after {
    border-color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-dark .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-dark .navbar-item.has-dropdown:hover .navbar-link,
  .navbar.is-dark .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-dark .navbar-dropdown a.navbar-item.is-active {
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

.navbar.is-primary {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-primary .navbar-brand > .navbar-item,
.navbar.is-primary .navbar-brand .navbar-link {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-primary .navbar-brand > a.navbar-item:focus,
.navbar.is-primary .navbar-brand > a.navbar-item:hover,
.navbar.is-primary .navbar-brand > a.navbar-item.is-active,
.navbar.is-primary .navbar-brand .navbar-link:focus,
.navbar.is-primary .navbar-brand .navbar-link:hover,
.navbar.is-primary .navbar-brand .navbar-link.is-active {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-primary .navbar-brand .navbar-link::after {
  border-color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-primary .navbar-burger {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

@media screen and (min-width: 1024px) {
  .navbar.is-primary .navbar-start > .navbar-item,
  .navbar.is-primary .navbar-start .navbar-link,
  .navbar.is-primary .navbar-end > .navbar-item,
  .navbar.is-primary .navbar-end .navbar-link {
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-primary .navbar-start > a.navbar-item:focus,
  .navbar.is-primary .navbar-start > a.navbar-item:hover,
  .navbar.is-primary .navbar-start > a.navbar-item.is-active,
  .navbar.is-primary .navbar-start .navbar-link:focus,
  .navbar.is-primary .navbar-start .navbar-link:hover,
  .navbar.is-primary .navbar-start .navbar-link.is-active,
  .navbar.is-primary .navbar-end > a.navbar-item:focus,
  .navbar.is-primary .navbar-end > a.navbar-item:hover,
  .navbar.is-primary .navbar-end > a.navbar-item.is-active,
  .navbar.is-primary .navbar-end .navbar-link:focus,
  .navbar.is-primary .navbar-end .navbar-link:hover,
  .navbar.is-primary .navbar-end .navbar-link.is-active {
    background-color: rgb(82, 185, 200);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-primary .navbar-start .navbar-link::after,
  .navbar.is-primary .navbar-end .navbar-link::after {
    border-color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-primary .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-primary .navbar-item.has-dropdown:hover .navbar-link,
  .navbar.is-primary .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgb(82, 185, 200);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-primary .navbar-dropdown a.navbar-item.is-active {
    background-color: rgb(82, 185, 200);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

.navbar.is-link {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-link .navbar-brand > .navbar-item,
.navbar.is-link .navbar-brand .navbar-link {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-link .navbar-brand > a.navbar-item:focus,
.navbar.is-link .navbar-brand > a.navbar-item:hover,
.navbar.is-link .navbar-brand > a.navbar-item.is-active,
.navbar.is-link .navbar-brand .navbar-link:focus,
.navbar.is-link .navbar-brand .navbar-link:hover,
.navbar.is-link .navbar-brand .navbar-link.is-active {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-link .navbar-brand .navbar-link::after {
  border-color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-link .navbar-burger {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

@media screen and (min-width: 1024px) {
  .navbar.is-link .navbar-start > .navbar-item,
  .navbar.is-link .navbar-start .navbar-link,
  .navbar.is-link .navbar-end > .navbar-item,
  .navbar.is-link .navbar-end .navbar-link {
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-link .navbar-start > a.navbar-item:focus,
  .navbar.is-link .navbar-start > a.navbar-item:hover,
  .navbar.is-link .navbar-start > a.navbar-item.is-active,
  .navbar.is-link .navbar-start .navbar-link:focus,
  .navbar.is-link .navbar-start .navbar-link:hover,
  .navbar.is-link .navbar-start .navbar-link.is-active,
  .navbar.is-link .navbar-end > a.navbar-item:focus,
  .navbar.is-link .navbar-end > a.navbar-item:hover,
  .navbar.is-link .navbar-end > a.navbar-item.is-active,
  .navbar.is-link .navbar-end .navbar-link:focus,
  .navbar.is-link .navbar-end .navbar-link:hover,
  .navbar.is-link .navbar-end .navbar-link.is-active {
    background-color: rgb(219, 53, 163);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-link .navbar-start .navbar-link::after,
  .navbar.is-link .navbar-end .navbar-link::after {
    border-color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-link .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-link .navbar-item.has-dropdown:hover .navbar-link,
  .navbar.is-link .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgb(219, 53, 163);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-link .navbar-dropdown a.navbar-item.is-active {
    background-color: rgb(219, 53, 163);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

.navbar.is-info {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-info .navbar-brand > .navbar-item,
.navbar.is-info .navbar-brand .navbar-link {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-info .navbar-brand > a.navbar-item:focus,
.navbar.is-info .navbar-brand > a.navbar-item:hover,
.navbar.is-info .navbar-brand > a.navbar-item.is-active,
.navbar.is-info .navbar-brand .navbar-link:focus,
.navbar.is-info .navbar-brand .navbar-link:hover,
.navbar.is-info .navbar-brand .navbar-link.is-active {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-info .navbar-brand .navbar-link::after {
  border-color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-info .navbar-burger {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

@media screen and (min-width: 1024px) {
  .navbar.is-info .navbar-start > .navbar-item,
  .navbar.is-info .navbar-start .navbar-link,
  .navbar.is-info .navbar-end > .navbar-item,
  .navbar.is-info .navbar-end .navbar-link {
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-info .navbar-start > a.navbar-item:focus,
  .navbar.is-info .navbar-start > a.navbar-item:hover,
  .navbar.is-info .navbar-start > a.navbar-item.is-active,
  .navbar.is-info .navbar-start .navbar-link:focus,
  .navbar.is-info .navbar-start .navbar-link:hover,
  .navbar.is-info .navbar-start .navbar-link.is-active,
  .navbar.is-info .navbar-end > a.navbar-item:focus,
  .navbar.is-info .navbar-end > a.navbar-item:hover,
  .navbar.is-info .navbar-end > a.navbar-item.is-active,
  .navbar.is-info .navbar-end .navbar-link:focus,
  .navbar.is-info .navbar-end .navbar-link:hover,
  .navbar.is-info .navbar-end .navbar-link.is-active {
    background-color: rgb(219, 53, 163);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-info .navbar-start .navbar-link::after,
  .navbar.is-info .navbar-end .navbar-link::after {
    border-color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-info .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-info .navbar-item.has-dropdown:hover .navbar-link,
  .navbar.is-info .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgb(219, 53, 163);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-info .navbar-dropdown a.navbar-item.is-active {
    background-color: rgb(219, 53, 163);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar-item.is-tab:focus,
.navbar-item.is-tab:hover {
  border-bottom-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar-item.is-tab.is-active {
  border-bottom-color: rgb(219, 53, 163);
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

@media screen and (min-width: 1024px) {
  .navbar.is-transparent .navbar-dropdown a.navbar-item.is-active {
    color: rgb(219, 53, 163);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar-dropdown a.navbar-item.is-active {
    color: rgb(219, 53, 163);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

.pagination-link.is-current {
  background-color: rgb(219, 53, 163);
  border-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-light .panel-heading {
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-light .panel-tabs a.is-active {
  border-bottom-color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-light .panel-block.is-active .panel-icon {
  color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-dark .panel-heading {
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-dark .panel-tabs a.is-active {
  border-bottom-color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-dark .panel-block.is-active .panel-icon {
  color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-primary .panel-heading {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-primary .panel-tabs a.is-active {
  border-bottom-color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-primary .panel-block.is-active .panel-icon {
  color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-link .panel-heading {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-link .panel-tabs a.is-active {
  border-bottom-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-link .panel-block.is-active .panel-icon {
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-info .panel-heading {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-info .panel-tabs a.is-active {
  border-bottom-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-info .panel-block.is-active .panel-icon {
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel-list a:hover {
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel-block.is-active {
  border-left-color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel-block.is-active .panel-icon {
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tabs li.is-active a {
  border-bottom-color: rgb(219, 53, 163);
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tabs.is-toggle li.is-active a {
  background-color: rgb(219, 53, 163);
  border-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-light {
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-light .title {
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-light .subtitle {
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-light .subtitle a:not(.button),
.hero.is-light .subtitle strong {
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

@media screen and (max-width: 1023px) {
  .hero.is-light .navbar-menu {
    background-color: rgb(245, 245, 245);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

.hero.is-light .navbar-item,
.hero.is-light .navbar-link {
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-light a.navbar-item:hover,
.hero.is-light a.navbar-item.is-active,
.hero.is-light .navbar-link:hover,
.hero.is-light .navbar-link.is-active {
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-light .tabs a {
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-light .tabs.is-boxed a,
.hero.is-light .tabs.is-toggle a {
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-light .tabs.is-boxed li.is-active a,
.hero.is-light .tabs.is-boxed li.is-active a:hover,
.hero.is-light .tabs.is-toggle li.is-active a,
.hero.is-light .tabs.is-toggle li.is-active a:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
  color: rgb(245, 245, 245);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-dark {
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-dark .title {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-dark .subtitle {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-dark .subtitle a:not(.button),
.hero.is-dark .subtitle strong {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

@media screen and (max-width: 1023px) {
  .hero.is-dark .navbar-menu {
    background-color: rgb(54, 54, 54);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

.hero.is-dark .navbar-item,
.hero.is-dark .navbar-link {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-dark a.navbar-item:hover,
.hero.is-dark a.navbar-item.is-active,
.hero.is-dark .navbar-link:hover,
.hero.is-dark .navbar-link.is-active {
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-dark .tabs a {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-dark .tabs.is-boxed a,
.hero.is-dark .tabs.is-toggle a {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-dark .tabs.is-boxed li.is-active a,
.hero.is-dark .tabs.is-boxed li.is-active a:hover,
.hero.is-dark .tabs.is-toggle li.is-active a,
.hero.is-dark .tabs.is-toggle li.is-active a:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(54, 54, 54);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary .title {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary .subtitle {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary .subtitle a:not(.button),
.hero.is-primary .subtitle strong {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

@media screen and (max-width: 1023px) {
  .hero.is-primary .navbar-menu {
    background-color: rgb(82, 185, 200);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

.hero.is-primary .navbar-item,
.hero.is-primary .navbar-link {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary a.navbar-item:hover,
.hero.is-primary a.navbar-item.is-active,
.hero.is-primary .navbar-link:hover,
.hero.is-primary .navbar-link.is-active {
  background-color: rgb(82, 185, 200);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary .tabs a {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary .tabs.is-boxed a,
.hero.is-primary .tabs.is-toggle a {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary .tabs.is-boxed li.is-active a,
.hero.is-primary .tabs.is-boxed li.is-active a:hover,
.hero.is-primary .tabs.is-toggle li.is-active a,
.hero.is-primary .tabs.is-toggle li.is-active a:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(82, 185, 200);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-link {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-link .title {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-link .subtitle {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-link .subtitle a:not(.button),
.hero.is-link .subtitle strong {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

@media screen and (max-width: 1023px) {
  .hero.is-link .navbar-menu {
    background-color: rgb(219, 53, 163);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

.hero.is-link .navbar-item,
.hero.is-link .navbar-link {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-link a.navbar-item:hover,
.hero.is-link a.navbar-item.is-active,
.hero.is-link .navbar-link:hover,
.hero.is-link .navbar-link.is-active {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-link .tabs a {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-link .tabs.is-boxed a,
.hero.is-link .tabs.is-toggle a {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-link .tabs.is-boxed li.is-active a,
.hero.is-link .tabs.is-boxed li.is-active a:hover,
.hero.is-link .tabs.is-toggle li.is-active a,
.hero.is-link .tabs.is-toggle li.is-active a:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-info {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-info .title {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-info .subtitle {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-info .subtitle a:not(.button),
.hero.is-info .subtitle strong {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

@media screen and (max-width: 1023px) {
  .hero.is-info .navbar-menu {
    background-color: rgb(219, 53, 163);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

.hero.is-info .navbar-item,
.hero.is-info .navbar-link {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-info a.navbar-item:hover,
.hero.is-info a.navbar-item.is-active,
.hero.is-info .navbar-link:hover,
.hero.is-info .navbar-link.is-active {
  background-color: rgb(219, 53, 163);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-info .tabs a {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-info .tabs.is-boxed a,
.hero.is-info .tabs.is-toggle a {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-info .tabs.is-boxed li.is-active a,
.hero.is-info .tabs.is-boxed li.is-active a:hover,
.hero.is-info .tabs.is-toggle li.is-active a,
.hero.is-info .tabs.is-toggle li.is-active a:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(219, 53, 163);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}