
// sass variables
$dark: var(--dark)
$info: var(--info)
$light: var(--light)
$link: var(--link)
$primary: var(--primary)


// declared base css variables
#{":root"}
  --dark: rgb(54, 54, 54)
  --info: rgb(219, 53, 163)
  --light: rgb(245, 245, 245)
  --link: rgb(219, 53, 163)
  --primary: rgb(82, 185, 200)


// derived, generated css variables
#{":root"}
  --dark--800--lighten: rgb(74, 74, 74)
  --dark--color-invert: rgb(255, 255, 255)

  --info--color-invert: rgb(255, 255, 255)
  --info--dark-color: rgb(195, 35, 141)
  --info--light-color: rgb(252, 238, 247)

  --light--800--lighten: rgb(255, 255, 255)
  --light--color-invert: rgba(0, 0, 0, 0.7)

  --link--color-invert: rgb(255, 255, 255)
  --link--dark-color: rgb(195, 35, 141)
  --link--light-color: rgb(252, 238, 247)

  --primary--color-invert: rgb(255, 255, 255)
  --primary--dark-color: rgb(39, 113, 124)
  --primary--light-color: rgb(240, 249, 250)

